<div class="answerTile">
  <div class="voteButton">
    <button class="btn btn-default btn-xs pull-right" {{action 'downVote' answer}}>-</button>
    <button class="btn btn-default btn-xs pull-right" {{action 'upVote' answer}}>+</button>
  </div>
  <div>
    <h4 class="small">{{answer.genius}} says:</h4>
    <p>{{answer.response}}</p>
    <p>Votes: {{answer.vote}}</p>
    <p class="text-muted">{{moment-format answer.time}}</p>
  </div>
</div>
