<div class="well questionWell">
  <img class="deleteQuestion pull-right" src="/assets/images/delete.png" {{action 'delete' question}} />
  <h4>{{question.author}} Asks:</h4>
  <h5>{{question.query}}</h5>
  <hr>
  <p>{{question.notes}}</p>
</div>

<div class="well questionWell">
  {{new-answer saveAnswer="saveAnswer" question=question}}
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>
